.foods{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    padding: 57px 0px;
}
.foodDetail{
    width: 22%;
    margin: 10px 30px;
    background: #87caca;
    padding: 25px;
    border-radius: 10px;
}
.foodDetail img{
    width: 100%;
}
.searchItem{
    /* margin: auto; */
    text-align: center;
    margin: 32px 0px;
}
#mealDiv{
    display: none;
}
#food{
    width: 300px;
    padding: 10px;
    border: none;
    background: #4858530f;
    border-radius: 5px;
}
#submit{
    padding: 10px 30px;
    border: none;
    background: #e84c4c8a;
    border-radius: 5px;
}